.post {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.post .content {
    display: flex;
    flex-direction: column;
    gap: 15rem;
}

.post h1 {
    color: var(--white-500);
    font-weight: 400;
    padding: 1rem 0;
}

.post hr {
    border-radius: 3px;
}

.content section {
    display: flex;
    justify-content: space-between;
}
