.post {
    margin-top: 1rem;
    color: var(--white-500);
    display: flex;
    width: 200px;
    flex-direction: column;
    max-height: 200px;

}

.post img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    transition: 0.2s;
}

.post legend{
    color: var(--gray-100);
}

.post legend, span {
    width: 100%;
    line-height: normal;
}

.post img:hover {
    filter: brightness(0.4);
    cursor: pointer;
}
