:root {
    --white-300: #C6C6C6;
    --white-500: #fff;
    --blue: #1F2B94;
    --gray-100: #a3a2a2;
    --gray-400: #454545;
    --gray-800: #141313;
    --gray-900: rgb(12, 12, 12);
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
}

body,
button, select, option {
    font-family: Jost,  sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}